@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "componique";
  src: url("/fonts/componique.eot");
  src:
    url("/fonts/componique.eot#iefix") format("embedded-opentype"),
    url("/fonts/componique.ttf") format("truetype"),
    url("/fonts/componique.woff") format("woff"),
    url("/fonts/componique.svg#componique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font-family: "Pretendard-Regular";
}
/* 메인 페이지의 라이트 모드 배경 이미지 */
body.main-page {
  background-image: url("/Background.svg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

/* 메인 페이지의 다크 모드 배경 이미지 */
html.dark body.main-page {
  background-image: url("/BackgroundDark.svg");
}

/* 다크 모드에서 메인 페이지 외의 다른 페이지 배경 설정 */
html.dark body:not(.main-page) {
  background-color: #1c2127;
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "componique" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 4px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
  content: "\e929";
}
.icon-linkedin:before {
  content: "\e926";
}
.icon-instagram:before {
  content: "\e927";
}
.icon-facebook:before {
  content: "\e928";
}
.icon-line:before {
  content: "\e92b";
}
.icon-github2:before {
  content: "\e92c";
}
.icon-arrowUp:before {
  content: "\e91e";
}
.icon-arrowDown:before {
  content: "\e91f";
}
.icon-up:before {
  content: "\e922";
}
.icon-down:before {
  content: "\e923";
}
.icon-prev:before {
  content: "\e924";
}
.icon-next:before {
  content: "\e925";
}
.icon-heart:before {
  content: "\e920";
}
.icon-emptyHeart:before {
  content: "\e921";
}
.icon-minus:before {
  content: "\e919";
}
.icon-bookmark:before {
  content: "\e90d";
}
.icon-lock:before {
  content: "\e90e";
}
.icon-unlock:before {
  content: "\e90f";
}
.icon-bin:before {
  content: "\e910";
}
.icon-clip:before {
  content: "\e911";
}
.icon-moon:before {
  content: "\e912";
}
.icon-emptyBookmark:before {
  content: "\e913";
}
.icon-pause:before {
  content: "\e914";
}
.icon-pencil:before {
  content: "\e915";
}
.icon-pen:before {
  content: "\e916";
}
.icon-music:before {
  content: "\e917";
}
.icon-wifi:before {
  content: "\e918";
}
.icon-close:before {
  content: "\e91a";
}
.icon-sun:before {
  content: "\e91b";
}
.icon-play:before {
  content: "\e91c";
}
.icon-plus:before {
  content: "\e91d";
}
.icon-comment:before {
  content: "\e90c";
}
.icon-github:before {
  content: "\e90a";
}
.icon-blog:before {
  content: "\e90b";
}
.icon-docs2:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e908";
}
.icon-web:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e982";
}
.icon-docs:before {
  content: "\e983";
}
.icon-login:before {
  content: "\e973";
}
.icon-logout:before {
  content: "\e974";
}
.icon-qr:before {
  content: "\e979";
}
.icon-reload:before {
  content: "\e97b";
}
.icon-star:before {
  content: "\e97e";
}
.icon-undo:before {
  content: "\e97f";
}
.icon-bell:before {
  content: "\e900";
}
.icon-bell-off:before {
  content: "\e901";
}
.icon-bell-ring:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-error:before {
  content: "\e96c";
}
.icon-help:before {
  content: "\e96e";
}
.icon-home:before {
  content: "\e96f";
}
.icon-image:before {
  content: "\e970";
}
.icon-info:before {
  content: "\e971";
}
.icon-mail:before {
  content: "\e975";
}
.icon-map:before {
  content: "\e976";
}
.icon-menu:before {
  content: "\e977";
}
.icon-pin:before {
  content: "\e978";
}
.icon-refresh:before {
  content: "\e97a";
}
.icon-setting:before {
  content: "\e97c";
}
.icon-share:before {
  content: "\e97d";
}
.icon-user:before {
  content: "\e980";
}
.icon-video:before {
  content: "\e981";
}

.perspective {
  perspective: 1000px;
}

.copyButton {
  @apply absolute right-0 top-0 transform rounded focus:outline-none focus:ring-2 focus:ring-[#679DC3] active:scale-95 active:bg-[#679DC3];
}

ul,
li {
  list-style: none;
}

.prose :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
  padding-left: 4px;
}

.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

/* 스크롤 바 디자인*/
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #aaa;
}
::-webkit-scrollbar-thumb:hover {
  background: #bbb;
}
[data-theme="dark"] ::-webkit-scrollbar-track {
  background: #1c2127;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb {
  background: #aaa;
}
[data-theme="dark"] ::-webkit-scrollbar-thumb:hover {
  background: #fff;
}

[data-theme="dark"] h1 {
  color: #fff;
}

[data-theme="dark"] h2 {
  color: #fff;
}

[data-theme="dark"] p {
  color: #dfdfdf;
}

[data-theme="dark"] th {
  color: #dfdfdf;
}

[data-theme="dark"] td {
  color: #bdbdbd;
}
