@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "componique";
  src: url("/fonts/componique.eot");
  src:
    url("/fonts/componique.eot#iefix") format("embedded-opentype"),
    url("/fonts/componique.ttf") format("truetype"),
    url("/fonts/componique.woff") format("woff"),
    url("/fonts/componique.svg#componique") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
html {
  font-family: "Pretendard-Regular";
}

i {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "componique" !important;
  /*speak: never;*/
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: middle;
  margin-right: 4px;
  margin-left: 4px;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-search:before {
  content: "\e908";
}
.icon-web:before {
  content: "\e907";
}
.icon-check:before {
  content: "\e982";
}
.icon-docs:before {
  content: "\e983";
}
.icon-login:before {
  content: "\e973";
}
.icon-logout:before {
  content: "\e974";
}
.icon-qr:before {
  content: "\e979";
}
.icon-reload:before {
  content: "\e97b";
}
.icon-star:before {
  content: "\e97e";
}
.icon-undo:before {
  content: "\e97f";
}
.icon-bell:before {
  content: "\e900";
}
.icon-bell-off:before {
  content: "\e901";
}
.icon-bell-ring:before {
  content: "\e902";
}
.icon-call:before {
  content: "\e903";
}
.icon-camera:before {
  content: "\e904";
}
.icon-code:before {
  content: "\e905";
}
.icon-download:before {
  content: "\e906";
}
.icon-error:before {
  content: "\e96c";
}
.icon-heart:before {
  content: "\e96d";
}
.icon-help:before {
  content: "\e96e";
}
.icon-home:before {
  content: "\e96f";
}
.icon-image:before {
  content: "\e970";
}
.icon-info:before {
  content: "\e971";
}
.icon-mail:before {
  content: "\e975";
}
.icon-map:before {
  content: "\e976";
}
.icon-menu:before {
  content: "\e977";
}
.icon-pin:before {
  content: "\e978";
}
.icon-refresh:before {
  content: "\e97a";
}
.icon-setting:before {
  content: "\e97c";
}
.icon-share:before {
  content: "\e97d";
}
.icon-user:before {
  content: "\e980";
}
.icon-video:before {
  content: "\e981";
}

.perspective {
  perspective: 1000px;
}

.copyButton {
  @apply absolute right-0 top-0 transform rounded focus:outline-none focus:ring-2 focus:ring-[#679DC3] active:scale-95 active:bg-[#679DC3];
}

ul,
li {
  list-style: none;
}

.prose :where(li):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}

.prose :where(img):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  margin-top: 0;
  margin-bottom: 0;
}

.prose :where(ul):not(:where([class~="not-prose"], [class~="not-prose"] *)) {
  list-style-type: disc;
  margin-top: 0;
  margin-bottom: 0;
  padding-inline-start: 0;
}
