/*마크다운 #*/
h1 {
  @apply text-4xl font-bold;
}
/*마크다운 ##*/
h2 {
  @apply text-3xl font-semibold;
}
/*마크다운 ###*/
h3 {
  @apply text-2xl font-medium;
}

/* 마크다운 -목록*/
ul {
  @apply list-inside list-disc pl-5;
}

li {
  @apply mb-2;
}

/* 코드 블록 스타일 */
pre {
  background-color: #2d2d2d;
  color: #f8f8f2;
  padding: 1rem;
  border-radius: 0.5rem;
  overflow-x: auto;
  font-family: monospace;
  font-size: 0.875rem;
}

/* 인라인 코드 스타일 */
code {
  background-color: #272822;
  color: #f8f8f2;
  padding: 0.2rem 0.4rem;
  border-radius: 0.25rem;
  font-family: monospace;
  font-size: 0.875rem;
}

/* 마크다운 *** 구분선 */

hr {
  border: none;
  border-top: 2px solid #ccc;
  margin: 2rem 0;
}
